/* Ordi Fenetre*/
@media screen and (min-device-width: 480px) and (max-width:1024px) {
	html {
		margin: 0;
		padding: 0;
		background: url(../image/fondLM.png) no-repeat center fixed;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardisée */
	}
	body {
		overflow-y: scroll;
	}
	section {
		margin: auto;
	}

	/* -- en-tÃªte*/
	header {
		background: rgba(255, 255, 255, 0.6);
		text-align: center;
		font-family: Arial;
		font-weight: bold;
		color: #de985a;
		margin: auto;
		margin-top: 1%;
		width: 50%;
	}
	h1 {
		font-size: x-large;
	}
	
	.border_title {
		height: 0.2em;
		margin: auto;
		background: #de985a;
	}

	/* -- menu */
	#menu {
		width: 70%;
		height: 2.5em;
		margin: auto;
		margin-top: 2.5%;
		display: flex;
	}
	nav {
		background: rgba(255, 255, 255, 0.8);
		text-align:center;
		display: flex;
		font-family: Arial;
		font-weight: bold;
		border-radius: 50px;
		margin-left: 13%;
		width: 30%;
	}
	.selected {
		box-shadow: 1px 1px 27px #58d9ff;
	}
	nav div {
		margin: auto;
	}
	.hide {
		display: none;
	}

	/* -- Lettre de motivation */
	#LM article {
		margin: auto;
		margin-top: 1.5%;
		margin-bottom: 2.5%;
		overflow: auto;
		width: 70%;
		background: rgba(255, 255, 255, 0.7);
		box-shadow: 1px 1px 27px #555;
		font-family: Trebuchet MS;
		text-align: justify;
		padding: 3%;
		padding-bottom: 1%;
	}
	#date {
		margin-right: 5%;
		margin-bottom: 8%;
		text-align: right;
	}
	#debutCorps {
		margin-top: 5%;
	}
	#corps {
		margin-top: 5%;
	}
	#pied {
		margin-top: 10%;
		margin-right: 5%;
		text-align: right;
	}
	.sans_espace {
		margin: 0px;
	}
	.sans_espace_top {
		margin-top: 0px;
	}

	/* -- CV */
	#CV {
		width: 88%;
		height: 40em;
		margin-left: 0px;
		background: url(../image/HTML5_logo_and_wordmark.svg) no-repeat left top,
			url(../image/CSS3.svg) no-repeat left bottom,
			url(../image/Unofficial_JavaScript_logo_2.svg) no-repeat right bottom;
		background-size: 9%;
	}
	#Element {
		width: 70%;
		height: 40em;
		background-image: url("../image/Untitled-1-02.svg");
		background-repeat: no-repeat;
		border: solid 5px;
		margin: auto;
		margin-top: 50px;
	}
	.boutonCV {
		font-family: Arial;
		text-align: center;
	}
	.boutonCV:hover {
		cursor: pointer;
	}
	.ruban {
		width: 70%;
		height: 100%;
		margin: auto;
		margin-bottom: 5%;
		display: block;
	}
	.fleche {
		width: 5%;
		height: 1.4em;
		margin: auto;
	}
	.box {
		border-radius: 20px;
		background: white;
	}
	.content {
		overflow: auto;
	}
	#listeComp {
		height: 25em;
		margin-top: -6%;
	}
	#Competences {
		width: 40%;
		float: left;
	}
	#Formations {
		width: 40%;
		float: right;
	}
	.Competence {
		font-family: Arial;
		font-weight: 700;
		list-style: none;
		margin-bottom: 5%;
		margin-left: 10%;
	}
	.categorie {
		text-decoration: underline;
		font-family: Arial;
		font-weight: bold;
		list-style: none;
		margin-bottom: 10%;
		margin-top: 10%;
	}
	.Formation {
		font-family: Arial;
		font-weight: bold;
		list-style: none;
		margin-bottom: 20%;
	}
	#dernierFormation {
		margin-bottom: 0%;
	}
	.commentaire {
		font-style: italic;
		font-weight: 800;
	}
	.diplome {
		text-decoration: underline;
	}
	.date {
		font-weight: normal;
	}
	footer {
		clear: left;
		height: 2em;
	}
	footer ul {
		display: flex;
		width: 95%;
		margin: auto;
	}
	footer li {
		display: flex;
		height: 2em;
		width: 20%;
		border-radius: 19px;
		text-align:center;
		font-family: Arial;
		color: white;
		padding-left: 1%;
		padding-right: 1%;
		background: rgba(205, 205, 205, 0.6);
		box-shadow: 1px 1px 12px #a8ffbb;
		margin-left: 2.8%;
	}
	footer li div {
		margin: auto;
	}
	#Email {
		width: 38%;
	}
}