</div>
<footer>
		<ul>
			<li class="footer" id="Email">
				<div>Email: <a href="mailto:william.ngbama@gmail.com">william.ngbama@gmail.com</a></div>
			</li>
			<li class="footer espace-gauche" id="Tel">
				<div> T&eacute;l: <a href="tel:0651199224">06 51 19 92 24</a></div>
			</li>
			<li class="footer espace-gauche" id="Nom">
				<div>NGBAMA William</div>
			</li>
		</ul>
	</footer>
	<!--<script src="script/eventWheeljs"></script>-->

	<script src="script/menu.js"></script>
	<script src="script/pluginPageEffect.js"></script>
	<script src="script/sizeAndPlaceHeaderAndParallax.js"></script>
	<script src="script/sendMail.js"></script>
	<script src="script/CV.js"></script>
	</body>
	<!--  <script src="script/animBeta.js"></script> -->
	
</html>